/*  */
/* Alert region */
/*  */
div.alert:focus-visible {
    outline: var(--alert-outline);
}

div.alert ul {
    padding-left: 0;
}

div.alert ul li {
    list-style-type: none !important;
    color: var(--portalThemeColorCustom1) !important;
}

div.alert ul li:hover {
    color: var(--portalThemeColorCustom2) !important;
    cursor: pointer;
}

div.alert ul li a {
    list-style-type: none !important;
    color: var(--alert-text-color) !important;
}

div.alert ul li a:hover {
    color: var(--alert-text-color-hover) !important;
}

/*  */
/* End alert region */
/*  */