/* variables style */
:root {
    --black-color: #0D0D0D;
    --red-color: #C00000;
    --grey-color: #E7E6E6;
    --white-color: #FFFFFF;
    --dark-red-color: #A4262C;
    --primary-color-custom: var(--dark-red-color);

    /* Parameter */
    --input-border-color: #86B7FE;
    --shadow-color-focus: 0 0 0 .25rem #0D6EFD40;
    --background-disable: #E9ECEF;
    --border-disable: #CED4DA;
    --placeholder: #65727E;

    /* Fix value */
    --textarea-height: 150px;
    --padding-left-input: 10px;
    --border-radius: 6px;
    --filter-params-font-size: 12px;
    --input-multi-select-height: 32px;
}

.multi-select {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    width: 100%;
    user-select: none;
}

.multi-select .multi-select-header {
    border: 1px solid #dee2e6;
    padding: 0 30px 0 12px;
    overflow: hidden;
    gap: 7px;
    height: var(--input-multi-select-height);
    min-width: 300px;
}

.multi-select .multi-select-header::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23949ba3' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    height: 12px;
    width: 12px;
}

.multi-select .multi-select-header.multi-select-header-active {
    /* border-color: #c1c9d0; */
    border-color: var(--input-border-color) !important;
    box-shadow: var(--shadow-color-focus) !important;
    outline: transparent !important;
}

.multi-select .multi-select-header.multi-select-header-active::after {
    transform: translateY(-50%) rotate(180deg);
}

.multi-select .multi-select-header.multi-select-header-active+.multi-select-options {
    display: flex;
}

.multi-select .multi-select-header .multi-select-header-placeholder {
    color: #65727e;
}

.multi-select .multi-select-header .multi-select-header-option,
.multi-select-header-more {
    display: inline-flex;
    align-items: center;
    background-color: #f3f4f7;
    font-size: var(--filter-params-font-size);
    padding: 3px 8px;
    border-radius: var(--border-radius);
}

.multi-select .multi-select-header .multi-select-header-max {
    font-size: var(--filter-params-font-size);
    color: #65727e;
}

.multi-select .multi-select-options {
    display: none;
    box-sizing: border-box;
    flex-flow: wrap;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    margin-top: 5px;
    padding: 5px;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.multi-select .multi-select-options::-webkit-scrollbar {
    width: 5px;
}

.multi-select .multi-select-options::-webkit-scrollbar-track {
    background: #f0f1f3;
}

.multi-select .multi-select-options::-webkit-scrollbar-thumb {
    background: #cdcfd1;
}

.multi-select .multi-select-options::-webkit-scrollbar-thumb:hover {
    background: #b2b6b9;
}

.multi-select .multi-select-options .multi-select-option,
.multi-select .multi-select-options .multi-select-all {
    padding: 4px 12px;
    height: 42px;
}

.multi-select .multi-select-options .multi-select-option .multi-select-option-radio,
.multi-select .multi-select-options .multi-select-all .multi-select-option-radio {
    margin-right: 14px;
    height: 16px;
    width: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.multi-select .multi-select-options .multi-select-option .multi-select-option-text,
.multi-select .multi-select-options .multi-select-all .multi-select-option-text,
.multi-select-option-header .multi-select-option-text {
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    font-size: var(--filter-params-font-size);
    line-height: 20px;
    padding: 0 8px;
}

.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio {
    border-color: var(--primary-color-custom);
    background-color: var(--primary-color-custom);
}

.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio::after,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio::after {
    content: '';
    display: block;
    width: 3px;
    height: 10px;
    margin: 0px 0 0 5px;
    border: solid #fff;
    border-width: 0 2.3px 2.3px 0;
    transform: rotate(45deg);
}

.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-text,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-text {
    color: var(--primary-color-custom);
}

.multi-select .multi-select-options .multi-select-option:hover,
.multi-select .multi-select-options .multi-select-option:active,
.multi-select .multi-select-options .multi-select-all:hover,
.multi-select .multi-select-options .multi-select-all:active {
    background-color: #f3f4f7;
}

.multi-select .multi-select-options .multi-select-all {
    border-bottom: 1px solid #f1f3f5;
    border-radius: 0;
}

.multi-select .multi-select-options .multi-select-search {
    padding: 7px 10px;
    border: 1px solid #dee2e6;
    border-radius: var(--border-radius);
    margin: 10px 10px 5px 10px;
    width: 100%;
    outline: none;
    font-size: var(--filter-params-font-size);
}

.multi-select .multi-select-options .multi-select-search::placeholder {
    color: #b2b5b9;
}

.multi-select .multi-select-header,
.multi-select .multi-select-option,
.multi-select .multi-select-all,
.multi-select-option-header {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: var(--filter-params-font-size);
    color: #212529;
}

/* .multi-select-option.temp-disable { */
.multi-select-option.option-disabled {
    border-radius: 0;
    border: none !important;
    opacity: 0.5;
    background-color: transparent !important;
}

.multi-select-option-col {
    display: flex;
    /* max-width: 100%; */
    flex-direction: row;
    align-items: center;
    width: calc(100% / 2 - 16px);
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.multi-select-option-header .multi-select-option-col {
    font-weight: bold;
    background: #f5f5f5;
    color: #333;
    height: 100%;
}

.multi-select-option-header .multi-select-option-radio {
    border: none !important;
    font-weight: bold;
    background: #f5f5f5;
    color: #333;
    height: 100%;
}

.multi-select-option-header {
    padding: 4px 12px;
    height: 42px;
    background: #f5f5f5;
}

.multi-select-option-header-spacing {
    margin-right: 14px;
    height: 16px;
    width: 16px;
    /* border: 1px solid #ced4da; */
    border-radius: 4px;
}